#privacy-policy-container h1,
#privacy-policy-container h2,
#privacy-policy-container h3 {
  font-weight: bold;
}

#privacy-policy-container * {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

#privacy-policy-container h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

#privacy-policy-container h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

#privacy-policy-container h3 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

#privacy-policy-container h1~h2,
#privacy-policy-container h1~* {
  text-indent: 1rem;
}

#privacy-policy-container h2~* {
  text-indent: 2rem;
}

#privacy-policy-container h3~ol {
  text-indent: 3rem;
}

#privacy-policy-container li::before {
  content: "-";
  margin-right: 8px;
}

#privacy-policy-container li>ol {
  padding-left: 1.25rem;
}